body {
	color: #FFFAFA;
	background-color: #343434;
	width: 960px;
	margin: 0px auto;
}

.artistName {
	padding: 10px;
	float: left;
}

#foundit .removeSong,
#keepit .includeSong {
	display: none;
}

.includeSong,
.removeSong {
	margin-right: 5px;
	cursor: pointer;
}

.removeSong {
	color: red;
}

.moreArtists,
.moreSongs {
	float: right;
}

li {
	list-style: none;
	clear: both;
}

#criteria {
	clear: both;
}